@font-face {
    font-family: Benz;
    src: url("assets/Fonts/brand.otf");
}
* {
    padding: 0;
    margin: 0;
    font-family: Benz;
}
#textbg {
    background-color: rgba(198, 220, 223, 0.30);
}
#bgweb {
    background-image: url("assets/bg.jpg");
    margin: 50px 0 50px 0;
    height: 250px;
    background-size: cover;
    background-attachment: fixed;
    border-radius: 400% 70px 120px 150px;
}
#textmid {
    text-align: center;
    color: silver;
    border: 2px solid gray;
    border-radius: 8px;
    width: 300px;
    transition: 500ms;
    margin-bottom: 50px;
}
#textmid:hover {
    border-radius: 10px;
    width: 350px;
}
#card1:hover {
    transform: scale(101%);
}
#card2:hover {
    transform: scale(101%);
}
#card3:hover {
    transform: scale(101%);
}

#electtext {
    margin-top: 35px;
    display: block;
    border-bottom: 2px solid gray;

}
#electtext h2 {
    font-size: 60px;
    transition: 300ms;
}
#electtext:hover{
    letter-spacing: 6px;
    color: silver;
}

